<section>
  <div id="top-bar" class="top-bar text-center text-white py-2">
    <small>
      sign up and get 20% off your first order
      <a href="#" class="text-white text-decoration-underline">sign up now</a>
    </small>
    <button id="closeTopBar" class="btn btn-sm btn-outline position-end">
      ✖
    </button>
  </div>
  <nav class="navbar navbar-expand-lg bg-body-tertiary px-4">
    <div class="container-fluid">
      <a class="navbar-brand">SHOP.CO</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarScroll"
        aria-controls="navbarScroll"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul
          class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll ms-4"
          style="--bs-scroll-height: 100px"
        >
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Shop
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">On Sale</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../HTML/new-arrivals-badge.html">new arrivals</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">brands</a>
          </li>
        </ul>
        <form class="search-form d-flex justify-content" role="search">
          <div class="search-box position-relative">
            <input
              type="search"
              class="form-control rounded-pill search-input"
              placeholder="Search for products..."
            />
            <i class="bi bi-search search-icon"></i>
          </div>

          <div class="nav-icons d-flex gap-3 ms-4 mt-2">
            <a href="../HTML/cart.html " target="_blank">
              <i class="fa-solid fa-cart-shopping color-black"></i>
            </a>

            <a href="#"> <i class="fa-regular fa-circle-user"></i></a>
          </div>
        </form>
      </div>
    </div>
  </nav>
</section>
